.sidebar {
  width: 15%;
  height: 100vh;
  background: #0f1112;
  position: fixed;
  top: 0;
  right: -15%;
  transition: all .3s ease-in-out;
  z-index: 9999;
}

.sidebar.open {
  right: 0;
}

.toggler {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  background: #0f1112;
  color: #e8e6e3;
  border: 0;
  padding: 0;
  outline: none;
}

.routes {
  margin-top: 50px;
}

.route {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e8e6e3;
  transition: all .2s ease-in-out;
}

.route:hover {
  background: #18181884;
}


.active-link {
  background: #060606;
}

.active-link.route:hover {
  background: #060606;
}